<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>{{titlePage}}</title>
  <style type="text/css">
    {{{injectedCssCode}}}
  </style>
</head>

<body>
	<script type="text/javascript">
		{{{injectedJsCode}}}
	</script>
	{{{body}}}
</body>
</html>
